= link_to t("views.links.btn.new_item"), new_inventory_item_path, class: "btn btn-primary"
= link_to t("views.links.btn.delete_sale"), inventory_sales_path, class: "btn btn-success"
= link_to t("views.links.btn.report_sales"), inventory_dailyclosures_path, class: "btn btn-default"