<center><h3><%= t("views.titles.inventory.item.edit") %></h3></center>
<%= form_for(@inventory_item, url:  inventory_item_path(@inventory_item), method: :put) do |f| %>
<%= render partial: 'form', locals: {obj: f} %>
<% end %>

