<center><h3><%= t("views.titles.inventory.buy.show") %></h3></center>

<div class= "col-xs-3"></div>

<div class= "col-xs-6">

  <div class= "row">
    <%= render partial: "/shared/flash" %>
  </div>
  
</div>
