<p><%= "Hola #{@resource.email}!" %></p>

<p>Has pedido un enlace para cambiar la contraseña, puede hacerlo a través del siguiente enlace.</p>

<p><%= link_to "Crear nueva contraseña", edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

<p> Si usted no ha solicitado este, por favor, ignora este mensaje. </p>
<p> Su contraseña no cambiará hasta que acceda al enlace de arriba y crear una nueva.</p>
